@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    color:black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#particles-js{
width: 100%;
height: 100%;
background-color: white;
background-image: url('');
background-size: cover;
background-position: 50% 50%;
background-repeat: no-repeat;
}

html,body{
width:100%;
height:100%;
}

html{
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
width: 100%;
height: 100%;
font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
width: 100%;
height: 100%;
display:block;
}

#bodys{
position: absolute;
left: 0;
right: 0;
top: 2vh;
font-size: 3vw;
}

#izq{
      margin-left: 5vw;
      background-color: rgb(255, 255, 255);
      width: 42vw;
      height: 100%;
}

#der{
      margin-right: 5vw;
      background-color: rgb(255, 255, 255);
      width: 42vw;
      height: 100%;
}

#elem{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5vh;
}

h1{
      text-align: center;
      font-size: 0.45em;
}

p{
      font-size: 0.4em;
      padding: 1vh;
}

h4{
      padding-bottom: 1vh;
      text-align: center;
}

.cuadro{
      padding: 1vh;
      margin: 1vh;
      border: 1px solid rgb(228, 217, 217);
}
.footer {
  position: fixed;
  left: 0;
  font-size: 0.9em;
  bottom: 0;
  width: 100%;
  border: 1px solid rgb(228, 217, 217);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h4 {
      font-size: 1.5em;
}
  p{
        font-size: 1em;
  }

  h1{
        font-size: 1.2em;
  }

.footer{
      font-size: 0.8em;
}

}
